boot.o
gdt_asm.o  
gdt.o  
kernel.o 
isodir/
kernel.o
mem.o
pmm.o
vmicaro
vmicaro.iso
qemu.log
idt.o
idt.asm.o	
logs_completos.txt
logs_completos.txt
kernel_xtensa.bin
vmicaro_xtensa.elf
start.o
multiboot.o
io.o
interrupt_asm.o
handler-irq0.o
serial_print.o
idt_load.o⁠
 ⁠kernel_panic.o⁠
 ⁠mouse.o⁠
 ⁠serial.o⁠
 ⁠vga.o⁠
 ⁠pic.o⁠
 ⁠handler_0x00.o⁠
 ⁠handler_0x08.o⁠
 ⁠handler_central.o⁠
 ⁠handler_irq0.o⁠
 ⁠keyboard_handler.o⁠
 ⁠mouse-irq12.o⁠

