# Kernel-Ícaro (vmicaro)
# Copyright (c) 2026 Ícaro Teles da Silva (@icarotelesdasilva)
#
# Este arquivo é parte do projeto Kernel-Ícaro.
# Licenciado sob a licença GPL v3.



menuentry "vmicarob" {

multiboot /boot/vmicaro

boot

}


